
@font-face {
    font-family: 'CharterCTT';
    src: url('fonts/CharterC.eot?#iefix') format('embedded-opentype'),
    url('fonts/CharterC.woff') format('woff'),
    url('fonts/CharterC.ttf')  format('truetype'),
    url('fonts/CharterC.svg#CharterC') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'CharterCTT';
    src: url('fonts/CharterC-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/CharterC-Bold.woff') format('woff'),
    url('fonts/CharterC-Bold.ttf')  format('truetype'),
    url('fonts/CharterC-Bold.svg#CharterC-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'CharterCTT';
    src: url('fonts/CharterC-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/CharterC-BoldItalic.woff') format('woff'),
    url('fonts/CharterC-BoldItalic.ttf')  format('truetype'),
    url('fonts/CharterC-BoldItalic.svg#CharterC-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'CharterCTT', Times New Roman, Times, serif;
    font-size: 13px;
}

h1 {
    background: url('../img/h1_book.png') no-repeat top left;
    padding-left: 40px;
    font-size: 24px;
    font-weight: bold;
    width: 310px;
    margin: 40px auto 20px;
}


h2 {
    font-size: 14px;
    font-weight: bold;
    line-height: 27px;
    margin: 40px 0 5px 0;
}

h2.pencil {
    background: url('../img/pencil.png') no-repeat top left;
    padding-left: 35px;
    margin: 40px 0 13px 45px;
}

.container {
    width: 1000px !important;
    padding-right: 0;
    padding-left: 0;
}

.page-container {
    background: url('../img/bg.png') repeat-x top left;
    min-height: 490px;
}

.relative {
    position: relative;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav ul li {
    display: inline-block;
    padding: 0 25px;
}

.nav ul li a {
    height: 34px;
    text-transform: uppercase;
    border-radius: 17px;
    padding: 9px 20px 5px;
    width: 156px;
    line-height: 14px;
    font-weight: bold;
    display: inline-block;
}

.nav ul li a span {
    margin-left: 10px;
    font-size: 12px;
}

.nav ul li:first-child a {
    padding: 9px 10px 5px;
    width: auto;
    background-color: #fff;
}

.nav ul li:first-child a span {
    margin-left: 0;
}

.nav ul li a {
    color: #00aeef;
    background-color: #fff;
    position: relative;
    border: 1px solid transparent;
    background-clip: padding-box;
}

.nav ul li a:after {
    position: absolute;
    top: -1px; bottom: -1px;
    left: -1px; right: -1px;
    background: -webkit-linear-gradient(top, #b1e2fa, #40c2f3);
    background: -moz-linear-gradient(top, #b1e2fa, #40c2f3);
    background: -o-linear-gradient(top, #b1e2fa, #40c2f3);
    background: linear-gradient(#b1e2fa, #40c2f3);
    content: '';
    z-index: -1;
    border-radius: 17px;
}

.nav ul li a:hover, .nav ul li a.active, .nav ul li a:active, .nav ul li a:focus, .nav ul li a.active:hover {
    color: #818285;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: none;
}
.nav ul li a:hover:after, .nav ul li a.active:after, .nav ul li a:active:after, .nav ul li a:focus:after, .nav ul li a.active:hover:after {
    background: -webkit-linear-gradient(top, #d1d2d4, #aeb0b2);
    background: -moz-linear-gradient(top, #d1d2d4, #aeb0b2);
    background: -o-linear-gradient(top, #d1d2d4, #aeb0b2);
    background: linear-gradient(#d1d2d4, #aeb0b2);
}

.btn-primary {
    border-color: #b1e2fa;
    background-image: -webkit-linear-gradient(top, #b1e2fa 0%, #40c2f3 100%);
    background-image:      -o-linear-gradient(top, #b1e2fa 0%, #40c2f3 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b1e2fa), to(#40c2f3));
    background-image:         linear-gradient(to bottom, #b1e2fa 0%, #40c2f3 100%);
}

.btn-primary:focus, .btn-primary:active, .btn-primary:hover {
    border-color: #b1e2fa;
    color: #818285;
}


.buy {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.man {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -408px;
}

.book {
    position: absolute;
    top: 45px;
    left: 50%;
    margin-left: -187px;
}

.about {
    position: absolute;
    top: 248px;
    left: 50%;
    margin-left: 220px;
    font-weight: bold;
    width: 260px;
}

.book-bg {
    position: absolute;
    background: url('../img/bg_book.png') center top no-repeat;
    top: 0;
    left: 50%;
    margin-left: -436px;
    width: 873px;
    height: 473px;
    z-index: 2;
}

.page {
    position: absolute;
    top: 62px;
    left: 50%;
    min-height: 445px;
    z-index: 3;
    overflow: hidden;
}

.page-left {
    top: 35px;
    margin-left: -410px;
    width: 421px;
    font-size: 12px;
}

.page-left-wide {

}

.page-right {
    margin-left: 40px;
    width: 340px;
    font-size: 12px;
}

.page-wide {
    top: 35px;
    margin-left: -400px;
    width: 800px;
}

.page-visible {
    overflow: visible;
}

.slider-wrapper {
    position: relative;
    width: 800px;
    z-index: 5;
}

.read-wrapper {
    position: relative;
    width: 330px;
    z-index: 5;
}

.slider-wrapper img {
    width: 800px;
    height: auto;
}

.read p {
    font-size: 12px;
    line-height: 20px;
}

.feedback {
    padding: 27px 61px 0 30px;
}
.author {
    padding: 27px 61px 0 30px;
    text-align: center;
}

.author img {
    display: inline-block;
    border: 5px solid #fff;
    margin: 27px auto;
}

.author .name {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.author .position {
    font-size: 12px;
    font-weight: bold;
}

span.letter {
    font-size: 42px;
    line-height: 40px;
}

p.sign {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

form {
    margin-left: 45px;
}

input, textarea {
    border: 1px solid #e4e5e5;
    width: 250px;
    margin-bottom: 4px;
}

input {
    height: 32px;
}

textarea {
    height: 126px;
}

.btn-container {
    width: 250px;
}

.btn-container input {
    width: 100px;
    height: 26px;
    padding-top: 4px;
    font-size: 12px;
}

.footer {
    margin-top: 35px;
    margin-bottom: 25px;
}
